[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pyjwt = "*"
django-cors-headers = "*"
django-filter = "*"
django = "*"
djangorestframework = "*"
pymysql = "*"
drf-yasg = "*"

[requires]
python_version = "3.6"
